#about {

    h2.highlight {
        color: $off-white;

        &::before {
            background-color: $indigo;
        }
    }

    .copy-container {
        max-width: 590px;
        margin-left: 0;
        
        @include breakpoint(laptop) {
            margin-left: -333px;
        }
    }

    .appear {
        &:nth-child(1) {
            transition-delay: 0.6s;
        }

        &:nth-child(2) {
            transition-delay: 0.85s;
        }

        &:nth-child(3) {
            transition-delay: 1.05s;
        }
    }
}