#about {

    h2.highlight {
        color: $off-white;

        &::before {
            background-color: $indigo;
        }
    }

    .copy-container {
        max-width: 590px;
        margin-left: -333px;
    }
}