#contact {

    h2.highlight {
        color: $off-white;

        &::before {
            background-color: $carrot;
        }
    }

    ul {
        display: flex;

        li {
            padding: 0 10px;
        }
    }
}