#contact {

    h2.highlight {
        color: $off-white;

        &::before {
            background-color: $carrot;
        }
    }

    ul {
        display: flex;

        li {
            padding: 0 10px;

            &:nth-child(1) a:hover {
                color: $indigo;
            }

            &:nth-child(2) a:hover {
                color: $java;
            }

            &:nth-child(3) a:hover {
                color: $sunglow;
            }

            &:nth-child(4) a:hover {
                color: $carrot;
            }

            &:nth-child(5) a:hover {
                color: $java; 
            }

            &:nth-child(6) a:hover {
                color: $indigo;
            }
        }
    }

    &.animate {
        .appear:nth-child(1) {
            transition: opacity 0.75s linear 0.5s;
        }

        .appear:nth-child(2) {
            transition: opacity 0.75s linear 0.65s;
        }

        .appear:nth-child(3) {
            transition: opacity 0.75s linear 0.8s;
        }

        .appear:nth-child(4) {
            transition: opacity 0.75s linear 0.95s;
        }

        .appear:nth-child(5) {
            transition: opacity 0.75s linear 1.10s;
        }

        .appear:nth-child(6) {
            transition: opacity 0.75s linear 1.25s;
        }
    }
}