#contact {

    h2.highlight {
        color: $off-white;

        &::before {
            background-color: $carrot;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include breakpoint(tablet) {
            flex-direction: row;  
            text-align: left;
        }

        li {
            padding-bottom: 15px;

            @include breakpoint(tablet) {
                padding: 0 10px;
            }

            &:nth-child(1) a:hover {
                color: $indigo;
            }

            &:nth-child(2) a:hover {
                color: $java;
            }

            &:nth-child(3) a:hover {
                color: $sunglow;
            }

            &:nth-child(4) a:hover {
                color: $carrot;
            }

            &:nth-child(5) a:hover {
                color: $java; 
            }

            &:nth-child(6) a:hover {
                color: $indigo;
            }
        }
    }

    footer {
        position: absolute;
        text-align: end;
        left: -5vw;
        right: -5vw;
        bottom: 0;
        font-size: 15px;
        padding: 10px 15px;
        transform: translateY(25px);
        transition: transform 0.35s linear 1.75s;

        a:hover {
            color: $carrot;
        }

        span {
            padding-right: 15px;
        }
    }

    &.animate {
        .appear:nth-child(1) {
            transition: opacity 0.75s linear 0.5s;
        }

        .appear:nth-child(2) {
            transition: opacity 0.75s linear 0.65s;
        }

        .appear:nth-child(3) {
            transition: opacity 0.75s linear 0.8s;
        }

        .appear:nth-child(4) {
            transition: opacity 0.75s linear 0.95s;
        }

        .appear:nth-child(5) {
            transition: opacity 0.75s linear 1.10s;
        }

        .appear:nth-child(6) {
            transition: opacity 0.75s linear 1.25s;
        }

        footer {
            transform: translateY(0);
        }
    }
}