#fp-container {

    .nav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8px;
        z-index: 100;
        opacity: 0;
        animation: appearLeft 0.4s 1 forwards ease-out 0.75s;
    
        ul.navbar {
            display: flex;
            flex-direction: column;
            width: 8px;
            height: 100vh;

            li {
                position: relative;
                display: block;
                flex: 1;
                box-sizing: border-box;
                cursor: pointer;
                width: 100%;
                transform-origin: center center;
                transition: all 0.25s ease-out 0s;
            
                &:nth-of-type(1) {
                    background-color: $indigo;

                    &::after {
                        color: $indigo;
                    }
                }

                &:nth-of-type(2) {
                    background-color: $java;

                    &::after {
                        color: $java;
                    }
                }

                &:nth-of-type(3) {
                    background-color: $sunglow;

                    &::after {
                        color: $sunglow;
                    }
                }

                &:nth-of-type(4) {
                    background-color: $carrot;

                    &::after {
                        color: $carrot;
                    }
                }

                &::after {
                    opacity: 0;
                    content: attr(data-title);
                    position: absolute;
                    font-size: 0.9rem;
                    top: 50%;
                    left: 15px;
                    transform: translateY(-50%);
                    transition: opacity 0.25s ease-out 0s;
                }

                &:hover {
                    flex: 3;
                    
                    &::after {
                        opacity: 1;
                    }
                }

                span {
                    display: none;
                }
            }
        }

        p.subhead {
            display: none;
            margin-left: 15px;
            margin-bottom: 0;

            br {
                @include breakpoint(tablet) {
                    display: none;
                }
            }
        }
    }

    &.active-0 .nav {
        width: 100vw;
        top: 28vh;
        animation: appearIntro 1s 1 forwards ease-out 1.55s;

        ul.navbar {
            flex-direction: row;
            width: auto;
            height: auto;

            li {
                width: 15px;
                height: 15px;

                &::after {
                    display: none;
                }

                span {
                    display: block;
                    width: 0;
                    overflow: hidden;
                    color: $off-white;
                    font-family: $apercu-bold;
                    font-size: 10px;
                    text-align: center;
                    line-height: 1;
                    opacity: 0;
                    padding-top: 2.5px;
                    transition: all 0.25s linear 0s;
                }

                &:hover {
                    flex: 0 0 100%;

                    span {
                        width: auto;
                        opacity: 1;
                    }
                }
            }
        }

        p.subhead {
            display: inline-block;
        }
    }

    // Expand Nav-item based on current section
    &.active-1 .nav ul.navbar li:nth-of-type(1),
    &.active-2 .nav ul.navbar li:nth-of-type(2),
    &.active-3 .nav ul.navbar li:nth-of-type(3),
    &.active-4 .nav ul.navbar li:nth-of-type(3),
    &.active-5 .nav ul.navbar li:nth-of-type(3),
    &.active-6 .nav ul.navbar li:nth-of-type(4) { 
        flex: 3;
        transition: all 0.5s ease-out 0s;
    }
}

@keyframes appearIntro {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appearLeft {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}