.anim-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#mcd {
    opacity: 0;
    display: block;
    position: absolute;

    .fry-container,
    .fries-transition {
        display: flex;
        flex-direction: row;
        width: 100vw;

        .ketchup-fry, .fry {
            position: relative;
            display: block;
            width: 5vw;
            min-width: 35px;
            padding: 5px;

            img {
                width: 100%;
                height: auto;
            }

            &:nth-child(1n) {
                padding-top: 100px;
            }

            &:nth-child(2n) {
                padding-top: 40px;
            }

            &:nth-child(3n) {
                padding-top: 0;
            }
        }
    }

    .fry-container {
        justify-content: center;
        margin: 100vh 0 0 auto;
        transform: rotate(-45deg) translate(85vw, 0vw);

        @include breakpoint(tablet) {
            transform: rotate(-45deg) translate(53vw, 10vw);   
        }
    }

    .fries-transition {
        position: absolute;
        top: 100vh;
        justify-content: space-around;
    }
}

#hennessy {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s ease-in 0.5s;

    .photo-container {
        position: absolute;
        display: block;
        transition: transform 1.75s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
        min-width: 80px;

        img {
            width: 100%;
            opacity: 0;
        }

        &:nth-child(1) { // rocko
            width: 21%;
            max-width: 355px;
            top: 19vh;
            left: 33%;
            z-index: 1;
        }

        &:nth-child(2) { // fabric            
            width: 20%;
            max-width: 335px;
            bottom: -45vh;
            left: 35%;
            z-index: 1;
        }

        &:nth-child(3) { // drinks
            width: 18%;
            max-width: 305px;
            top: 21vh;
            right: 4%;
            z-index: 1;
        }

        &:nth-child(4) { // street
            width: 18%;
            max-width: 305px;
            bottom: -17vh;
            right: 24%;
            z-index: 1;
        }

        &:nth-child(5) { // victor
            width: 20%;
            max-width: 335px;
            bottom: -7vh;
            right: 5%;
            z-index: 2;
        }

        &:nth-child(6) { // yin
            width: 17%;
            max-width: 285px;
            top: 33vh;
            left: 53%;
            z-index: 1;
        }
    }
}

#good-reason {
    display: block;
    position: absolute;
    top: 18vh;
    right: 14vw;
    z-index: -1;
    opacity: 0;
    transform: scale(10);
    transition: opacity 0.25s ease-in 0.5s, 
                transform 0.75s linear 0.5s;

    #parent-circle {
        position: relative;
        width: 25vw;
        height: 25vw;
        border: 0.4vw solid rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        transform: rotate(0deg);
        transition: transform 0.7s linear;
        animation: rotate 6s infinite linear;

        .circle {
            display: block;
            position: absolute;
            width: 17.5%;
            height: 17.5%;
            margin: -8%;
            border-radius: 50%;
            top: 50%; 
            left: 50%;

            &.blue {
                background-color: #416ba9;
                transform: translate(12.5vw); // parent size/2
            }
            &.pink {
                background-color: #e6427a;
                transform: rotate(72deg) translate(12.5vw) rotate(-72deg);
            }
            &.lime {
                background-color: #cddb00;
                transform: rotate(72deg * 2) translate(12.5vw) rotate(-72deg * 2);
            }
            &.orange {
                background-color: #e0592a;
                transform: rotate(72deg * 3) translate(12.5vw) rotate(-72deg * 3);
            }
            &.teal {
                background-color: #57b6b2;
                transform: rotate(72deg * 4) translate(12.5vw) rotate(-72deg * 4);
            }
        }
    }

    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
}

// Start Project Animations
#fp-container {

    &.active-2,
    &.active-3,
    &.active-4 {
        #mcd {
            opacity: 1;
        }
    }

    &.active-5 {
        #good-reason {
            opacity: 1;
            transform: scale(1);
        }
    }
}