.project {
    position: relative;

    .copy-container {
        width: 90vw;
        height: 100vh;
        padding-top: 30vh;

        h2 {
            display: inline-block;
            background-color: $sunglow;
            color: $off-white;
        }

        .project-desc {
            max-width: 850px;

            h3.highlight {
                display: inline-block;
                color: $off-white;

                &::before {
                    background-color: $off-black;
                }
            }

            h4 {
                display: inline;
                background-color: $sunglow;
                color: $off-white;
            }

            ul {
                line-height: 1.25;
                margin-top: 5px;
            }
        }

        .img-container {
            position: absolute;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            width: 70vw;
            height: 38vw;
            top: 5vw;
            right: 5vw;
            z-index: -1;

            display: none;
        }
    }

    &.animate {
        p.appear {
            transition-delay: 0.8s;
        }

        h4.appear {
            transition-delay: 1s;
        }

        ul {
            li:nth-child(1) {
                transition-delay: 1s;
            }

            li:nth-child(2) {
                transition-delay: 1.15s;
            }

            li:nth-child(3) {
                transition-delay: 1.4s;
            }

            li:nth-child(4) {
                transition-delay: 1.55s;
            }
        }
    }
}