.project {
    position: relative;
    padding-top: 20vh;

    h2 {
        background-color: $sunglow;
        color: $off-white;
        margin-left: 2vw;
    }

    .project-desc {

        h3.highlight {
            display: inline-block;
            color: $off-white;

            &::before {
                background-color: $off-black;
            }
        }

        h4 {
            display: inline;
            color: $off-white;
        }
    }

    .img-container {
        position: absolute;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        width: 70vw;
        height: 38vw;
        top: 5vw;
        right: 5vw;
        z-index: -1;
    }
}