#skills {

    h2 {
        background-color: $java;
        color: $off-white;
    }

    .skills-container {
        display: flex;

        .list {
            padding: 0 1vw;

            h3 {
                display: inline;
                background-color: $off-black;
                color: $off-white;
            }
        }
    }
}