#skills {

    h2.highlight {
        color: $off-white;

        &::before {
            background-color: $java;
        }
    }

    .skills-container {
        display: flex;
        justify-content: center;
        width: 55vw;

        .list {
            flex-grow: 1;
            flex-basis: 0;
            text-align: center;
            padding: 0 1vw;
            transform: translateY(20px);

            h3 {
                background-color: $off-black;
                color: $off-white;
            }

            ul {
                margin-top: 1rem;

                li {
                    margin-bottom: 0.75rem;
                }
            }
        }
    }

    .appear {
        transform: translateY(0);
        transition: transform 0.5s ease-out 0.5s;
    }

    &.animate {
        .appear:nth-child(1) {
            transform: translateY(0);
            transition: transform 0.5s ease-out 0.45s, 
                        opacity 0.75s linear 0.45s;
        }

        .appear:nth-child(2) {
            transform: translateY(0);
            transition: transform 0.5s ease-out 0.65s, 
                        opacity 0.75s linear 0.65s;
        }

        .appear:nth-child(3) {
            transform: translateY(0);
            transition: transform 0.5s ease-out 0.85s, 
                        opacity 0.75s linear 0.85s;
        }
    }
}