/*
 * Module Imports
 **/
@import './_reset';
@import './_mixins';
@import './_typography';
@import './_variables';
@import './_animations';
@import './components/intro-section';
@import './components/about-section';
@import './components/skills-section';
@import './components/project-section';
@import './components/project-animations';
@import './components/contact-section';

/*
 * Global Styles
 **/
body {
	background-color: $off-white;
	color: $off-black;
	font-family: $apercu-light;
	font-size: 21px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: $apercu-bold;
	line-height: 1.1;
	margin: 15px auto;
}

h1 {
	font-size: 7rem;
	padding: 0 5vw;
}

h2 {
	font-size: 3.5rem;
	margin-bottom: 3vh;
	padding: 0 2vw;
}

h3 {
	font-size: 2.25rem;
	padding: 0 2vw;
}

h4 {
	font-family: $apercu-bold;
	padding: 0 10px;
}

p {
	line-height: 1.25;
	margin-bottom: 1.4rem;
}

a {
	color: $off-black;
	text-decoration: none;
	transition: color 0.15s linear 0s;

	&:hover {
		text-decoration: none;
	}
}

strong {
	font-family: $apercu-medium;
}

#fp-container {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	section {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90vw;
		height: 100vh;
		opacity: 0;
		left: 5vw;

		&.active {
			opacity: 1;
			z-index: 10;
		}
	}
}