/*
 * Module Imports
 **/
@import './_reset';
@import './_typography';
@import './_variables';
@import './_animations';
@import './components/intro-section';
@import './components/about-section';
@import './components/skills-section';
@import './components/project-section';
@import './components/contact-section';


/*
 * Global Styles
 **/
body {
	background-color: $off-white;
	color: $off-black;
	font-family: $apercu-light;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: $apercu-bold;
	margin: 15px auto;
}

h1 {
	font-size: 7rem;
	padding: 0 5vw;
}

h2 {
	font-size: 3.5rem;
	margin-bottom: 3vh;
	padding: 0 2vw;
}

h3 {
	font-size: 2.25rem;
	margin-bottom: 20px;
	padding: 0 2vw;
}

h4 {
	font-family: $apercu-bold;
	padding: 0 10px;
}

p {
	margin-bottom: 15px;
}

strong {
	font-family: $apercu-medium;
}

#fp-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	section {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		opacity: 0;

		&.animate {
			opacity: 1;
			z-index: 10;
		}
	}
}